body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
}
.title{
    text-align: center;
    color: white;
    padding: 100px;
}
h1{
    font-size: 50px;
    font-weight: bolder;
}
.donate-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}
.top-banner{
    background-image: url("images/donation6.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}
.top-banner{
    height: 500px;
}
.middle-banner{
    text-align: center;
    padding: 30px;
}

.taka{
    float: left;
    width: 8%;
    padding: 2%;
    margin: 3%;
font-family: 'Oswald',sans-serif;
font-weight: bolder;
}
#first-one{
    text-align: center;
    color: rgb(15, 14, 14);
    background-color: rgb(236, 225, 225);
    padding: 40px 0;
    width: 170px;
    font-size: 40px;
}
#highlight-amount{
text-align: center;
color: red;
background-color: lightpink;
padding: 40px 0;
width: 170px;
border-radius: 5px;
font-size: 40px;
border: 3px solid red;
}
.input-tk{
    width: 100%;
    border: none;
    margin-top: 25px;
    border-bottom: 1px solid black;
}

.donate{
    text-decoration: none;
    background-color: orangered;
    width: 120px;
    padding: 10px;
    margin-left: 550px;
    color: white;
    border-radius: 5px;
}
.donate-plan{
    text-align: center;
}

.family-plan{
    float: left;
    width: 20%;
    padding-left: 5%;
    margin-left: 3%;
}
#plan1{
    box-sizing: border-box;
    background-color: rgb(209, 226, 249);
    width: 30%;
    padding: 20px;
    margin: 20px;
}
#plan2{
    box-sizing: border-box;
    background-color: rgb(253, 220, 225);
    width: 30%;
    padding: 20px;
    margin: 20px;
}
#plan3{
    box-sizing: border-box;
    background-color: rgb(246, 217, 184);
    width: 30%;
    padding: 20px;
    margin: 20px;
}
.contribute-button{
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.plann{
    width: 1250px;
}
.half-width{
    float: left;
    width: 40%;
    padding-top: 60px;
    padding-left: 5%;
    margin-left: 3%;
}
.half-width img{
    width: 100%;
}
.update{
    text-align: center;
}
.last-sec{
    padding-top: 150px;
    margin-top: 100px;
    width: 900px;
    text-align: center;
    justify-content: center;
}
.last-one{
    background-color: lightpink;
    justify-content: center;   
    margin-left: 300px;
    height: 30px;
    width: 80%;
    border: none;
    padding: 15px;
    padding-left: 30px;
}
.but{
    background-color: red;
    color: white;
    border: none;
}
.footer{
    text-align: center;
    background-color: black;
    padding: 15px;
}
.humble{
    font-family:"Lucida Calligraphy";
    color: orangered;
}
.do-it{
    color: white;
}














